@import "../../assets/var";

.box__container-main--modify {
  padding: 0 !important;
}
.task {
  width: 100%;
  min-height: 5rem;
  gap: 1.6rem;
  border-bottom: 1px solid $grayColor;
  padding: 0.6rem;
}

.task__message {
  h5 {
    margin-bottom: 0.2rem;
  }
  span {
    font-size: 11px;
    color: gray;
  }
}

.footer {
  gap: 1rem;
  button {
    font-size: 14px;
  }
}

.task__stripe {
  width: 3.4px;
  height: 40px;
  border-radius: 1rem;
}
.latest {
  background-color: $reactcolor;
}
.rejected {
  background-color: $purpleColor;
}
.planned {
  background-color: $yellowColor;
}
.image {
  background-color: greenyellow;
}

.badge {
  font-size: 8.6px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  padding: 4px 10px;
  height: 1.8rem;
  line-height: 10px;
}
.rejected-badge {
  background-color: red;
}
.planned-badge {
  background-color: $reactcolor;
}
.latest-badge {
  background-color: green;
  margin-left: auto;
  border-radius: 8px;
}

.task-image {
  width: 3rem;
  height: auto;
  height: 3.2rem;
}

.image-dir {
  flex-direction: row-reverse !important;
  justify-content: flex-end;
}

@media (max-width: 475px) {
  .task {
    gap: 1rem;
  }
  .task__message {
    span {
      font-size: 10px;
    }
  }
}
